<div>
    <ul>
        <li><img width="600px" src="\uploads\<%=cat.image%>" alt="cat image"> </li>
        <li><h1><%= cat.name %></h1></li>
        <li><%= cat.age %></li>
        <li><%- cat.vaccinated? "Vacunas completas" : "Falta completar esquema de vacunación" %></li>
        <li><%- cat.adopted? "Adoptado" : "En adopción" %></li>
        <li>Admission: <%= cat.admissionDate.toISOString().split("T")[0] %></li>
    </ul>
</div>