<h1>Cats in the shelter</h1>

<form action="/cats" method="GET">
    <label for="searchName">Search by name</label>
    <input id="searchName" type="text" name="searchName" placeholder="name" value="<%= locals.nameSearch %>">
    
    <label for="searchAge">Search by age</label>
    <input id="searchAge" type="text" name="searchAge" placeholder="dias - meses - año/s" value="<%= locals.ageSearch %>">
    
    <button type="submit">Search</button>
</form>

<% cats.forEach((cat)=>{ %>
    <div>
        <ul>
            <li>
                <img width="200px" src="\uploads\<%=cat.image%>" alt="cat image">
            </li>
            <li>
                <%= cat.name %>
            </li>
            <li>
                <%= cat.age %>
            </li>
            <li>
                <%- cat.vaccinated? "Vacunas completas" : "Falta completar esquema de vacunación" %> 
            </li>
            <li>
                <%- cat.adopted? "Adoptado" : "En adopción" %> 
            </li>
            <li>
                Admission: <%= cat.admissionDate.toISOString().split("T")[0] %> 
            </li>
            <li>
                <a href="/cats/<%=cat.id%>">View Cat</a>
            </li>
            <li>
                <a href="/cats/<%=cat.id%>/edit">Edit</a>
            </li>

            <form method="POST" action="/cats/<%=cat.id%>?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </ul>
    </div>
<% }) %> 